body {
    min-height: 2000px;
}

.jumbotron {
    padding-top: 10%;
   background-image: url(asset/slide5.jpg);
   position: relative;
   background-position: center;
}

#about {
    background-color: #273036;
    padding-top: 5%;
}
#project{
    background-color: #969595;
}