

.jumbotron {
   padding: 14%;
   background-image: url(asset/ayam2.jpeg);
   position: relative;
   background-position: center;
}

#about {
    background-color: #ffd588;
    padding: 11%;
}
#project{
    background-color: #ffc14e;
    padding: 6%;
    
}
footer{
    padding: 6%;
}